* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
    margin: 0 auto;
}

.banner img{
    width: 1200px;
    height: 450px;
    display: inline-block overflow ;

}

nav{
    text-align: center;
}

nav ul{
    list-style-type: none;
    
}

nav ul li{
    display: inline-block;
    width: 30%;

}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 5px;
    border: 6px solid lightgoldenrodyellow;
    padding: 7px;
    width: 50%;
    
}

.earth{
    width: 300px;
    height: 400px;
    background-color: rgb(11, 124, 236);
    border: 4px solid rgb(255, 0, 0);
    
}

.earth img{
    width: 100%;
    height: 250px;
    
    
}

.mars{
    width: 300px;
    height: 400px;
    background-color: rgb(11, 124, 236);
    border: 4px solid rgb(255, 0, 0);
    
    
}

.mars img{
    width: 100%;
    height: 250px;
    
    
}

.mercury{
    width: 300px;
    height: 400px;
    background-color: rgb(11, 124, 236);
    border: 4px solid rgb(255, 0, 0);
}

.mercury img{
    width: 100%;
    height: 250px;
    
}


.outerplanets h2{
    text-align: center;
}


table{
    background-color: lightgreen;
    text-align: center;
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
}

th, td{
    border: 2px solid whitesmoke;
    
}

thead tr{
    height: 100px;
}

thead tr th{
    width: 200px;
}

tbody tr{
    height: 50px;
}

table img{
    width:200px;
    height: 200px;
}



.footer{
    text-align: center;
    font-size: large;
}